body {
  margin: 0;
  background-color: #fff;
  font-family: Inter Tight, sans-serif;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.parent-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-grid {
  grid-area: 1 / 1 / 6 / 5;
}
.div2-grid {
  grid-area: 1 / 5 / 6 / 13;
}
.div3-grid {
  grid-area: 7 / 1 / 12 / 6;
}
.div4-grid {
  grid-area: 7 / 7 / 12 / 12;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #d8effd;
}
.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  position: relative;
}

.section-info {
  padding-top: 15px;
}

.button-sidebar {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
  top: 25px;
  right: 0;
}

.sidebar-icon {
  stroke: #000000;
  width: 35px;
  height: 35px;
}

.header-navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding-left: 30px;
}

.sidebar {
  display: none;
  color: #f0f0f0;
}

.my-name {
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.my-profession {
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.my-descr {
  margin-top: 15px;
}

.education-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.my-projects-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.info {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
  .header-container {
    justify-content: center;
    width: 375px;
  }
  .header-navigation-list {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .sidebar-icon {
    width: 35px;
    height: 35px;
  }
  .sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.4);
  }

  .sidebar-container {
    width: 100vw;
    height: 100svh;
    position: absolute;
    left: 50%;
    transform: translate(-50%) scale(1);
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-container {
    width: 768px;
  }
  .header-navigation-list {
    gap: 100px;
  }
  .sidebar-container {
    width: 351px;
    left: 45%;
    transform: translate(-100%);
    padding-bottom: 50px;
  }

  .img-cont {
    width: 400px;
  }

  /* .parent-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .div1-grid {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2-grid {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3-grid {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4-grid {
    grid-area: 3 / 2 / 4 / 3;
  } */
}

/* Desktop */

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .header-container {
    justify-content: flex-start;
    width: 1280px;
  }
  .header-navigation-list {
    justify-content: flex-start;
    gap: 150px;
  }
  .button-sidebar {
    display: none;
  }

  .container-right {
    width: 68%;
    float: right;
    padding-left: 2%;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    padding: 10px;
    width: 30%;
    height: 100vh;
    background-color: #2e2f42;
    background-image: url(../img/sidebar-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .skills-container,
  .soft-container,
  .contacts-container {
    background-color: rgba(100, 0, 220, 0.3);
  }

  .parent-grid {
    display: none;
  }

  .section-info {
    padding-top: 0;
  }

  .section-projects {
    display: flex;
    gap: 50px;
  }
}
