.background {
  background-color: #d8effd;
}

.gallery-btn {
  margin-top: 20px;
}

.title-gallery {
  margin-top: 30px;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: changeColor 3s infinite alternate;
}

@keyframes changeColor {
  0% {
    color: blue;
  }
  50% {
    color: transparent;
  }
  100% {
    color: green;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: Anim 2s ease 0s 1 normal forwards;
}

@keyframes Anim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.individual-gallery,
.team-gallery {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  column-gap: 50px;
  margin-top: 30px;
}

.gallery-item {
  height: 150px;
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 6px solid transparent;
}

.gallery-item:hover {
  border-color: red;
  border-radius: 5%;
  animation: myAnim 2s infinite;
}

@keyframes myAnim {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}

.message-gallery {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: change 1s infinite alternate;
}

@keyframes change {
  0% {
    color: red;
  }

  100% {
    color: yellow;
  }
}

@media screen and (min-width: 768px) {
  .individual-gallery,
  .team-gallery {
    flex-direction: row;
  }

  .gallery-item {
    height: 250px;
    width: 500px;
  }

  .message-gallery {
    font-size: 50px;
  }
}
