/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url("./reset.css");
@import url("./styles-index.css");
@import url("./styles-page2-gallery.css");

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e75ff;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  height: 40px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

button:hover {
  background: #6c8cff;
  color: fuchsia;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  animation: myAn 2s ease 0s 1 normal forwards;
}

@keyframes myAn {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.15);
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.3s ease;
  border-radius: 50%;
  z-index: 0;
}

button:hover::before {
  width: 0;
  height: 0;
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button span {
  position: relative;
  z-index: 1;
}

/* .loader {
  display: none;
  width: 80px;
  height: 80px;
  border: 8px solid blue;
  border-radius: 50%;
  border-top: 10px solid green;
  border-right: 10px solid #f39c12;
  border-bottom: 10-px solid blue;
  border-left: 10px solid red;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
